</div>
</div>

<div class="container-fluid">
    <div class="row footer">
      <div class="col-xs-12 footer-line">
      </div>
    	<div class="col-xs-6">
    		Карта Мира: Travel Store. Турагентство.
        <br>
            <p>
              <span class="glyphicon glyphicon-earphone" aria-hidden="true"></span> &nbsp; +7 (347) 2 666 487 <br>
              <span class="glyphicon glyphicon-earphone" aria-hidden="true"></span> &nbsp; +7 (347) 2 666 075 <br>
              <span class="glyphicon glyphicon-earphone" aria-hidden="true"></span> &nbsp; +7 (927) 9 269 036 <br>
              <span class="glyphicon glyphicon-envelope" aria-hidden="true"></span> &nbsp;
               г. Уфа, ул. Цюрупы, д. 124 <br>
              <span class="glyphicon glyphicon-time" aria-hidden="true"></span>&nbsp;&nbsp;
              пн-пт, 10:00-19:00
            <br>
            </p>
      </div>
    	<div class="col-xs-6">
        Социальные сети
        <div id="vk_subscribe"></div>
      </div>

      </div>
      <div class="col-xs-4">
    	</div>
</div>

</body>
</html>
